:root {
    --el-border-radius-base: 8px;
    --el-font-size-base: 1rem;
}

.el-card {
    --el-card-border-radius: 10px
}


.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}


