@import './base.css';

#app {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
    font-size: 14px;
}

/* 如果是遊戲，通常建議讓整個 main 內容都無法被選取 */
html, body {
    user-select: none;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        max-width: 700px;
        display: grid;
        padding: 0 2rem;
        font-size: 12px;
    }
}
