@import './base.css';

#app {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-weight: normal;
}


@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        max-width: 700px;
        display: grid;
        padding: 0 2rem;
    }
}
